* {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', Verdana, sans-serif;
}

html, body {
    height: 100%;

    color: #f5f5f5;
    background-color: #212121;
}

main {
    height: 100%;
}

p {
    font-size: 110%
}

h1 {
    font-size: 150%;
}

#slide {
    width: calc(100% - 150px);
    height: 100%;
    float: left;

    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
}

#content {
    height: 100%;
}

#content > * {
    max-width: 100%;
    max-height: 100%;
}

#caption {
    width: calc(100% - 200px);
    padding: 25px;
    bottom: 0;

    position: fixed;
    background-color: #212121;
}

#actionbar {
    width: 150px;
    height: 100%;
    float: right;

    text-align: center;
    background-color: #424242;
}

#actionbar-inside {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#actionbar-inside > * {
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px 20px 10px 20px;

    color: #ffffff;
    background: #616161;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

button:hover {
    background: #545454;
    text-decoration: none;
}

@media(max-width: 700px) {
    p {
        font-size: 120%;
    }

    #caption {
        padding-bottom: 50px;
    }
}